* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f2f4f7;
}
.container {
  width: 1440px;
  height: 80px;
  border: 0px, 0px, 1px, 0px;
  color: #f2f4f7;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.images {
  padding-left: 50px;
}
.nav__box {
  padding-right: 50px;
  text-decoration: none;
  color: #615c69;
  font-family: "Inter", sans-serif;
}
.nav__box-2 {
  padding-right: 170px;
  text-decoration: none;
  color: #615c69;
  font-family: "Inter", sans-serif;
}

.btn {
  width: 124px;
  height: 40px;
  color: #00489d;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #00489d;
  gap: 8px;
  padding: 0;
  margin-right: 20px;
}
.btn1 {
  width: 189px;
  height: 40px;
  color: #ffffff;
  background-color: #00489d;
  border: none;
  gap: 8px;
  padding: 0;
  border-radius: 8px;
  margin-right: 120px;
}
.text,
.text1 {
  padding-top: 50px;
}
.text h1 {
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.text1 p {
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.input {
  align-items: center;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.def p {
  color: #ffffff;
}
.ipt {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  color: #dddddd;
  border: 1px solid #ffffff;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.ipt::placeholder {
  color: #dddddd;
}
.def {
  width: 158px;
  height: 56px;
  border-radius: 8px;
  border: none;
  padding: 0;
  background-color: #00489d;
  margin-left: 15px;
}
.photo {
  padding-top: 150px;
}
.teams {
  background: #eaeff9;
  width: 100%;
  height: 423px;
  border: 20px solid #e5ecf7;
  position: relative;
  border-radius: 8px;
}
.teams img {
  position: absolute;
  top: 0;
  right: 0;
}
.team p {
  color: black;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.team {
  padding-top: 100px;
  padding-left: 100px;
}
.teams button {
  width: 205px;
  height: 56px;
  background-color: #00489d;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  color: white;
}
.dig h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
}

.dig p {
  width: 506px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #232226;
}

.hire {
  width: 506px;
  height: 52px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hire p {
  width: 137px;
  height: 28px;
  font-size: 20px;
  line-height: 28px;
  color: #00489d;
  font-weight: 500;
  text-align: center;
}
.hire h4 {
  width: 207px;
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.Search p {
  width: 516px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #232226;
}
.Search button {
  width: 191px;
  height: 40px;
  background-color: #00489d;
  border: none;
  border-radius: 8px;
  color: white;
}
.content {
  max-width: 1300px;
  height: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  justify-content: center;
}

.center__1 {
  max-width: 907.51px;
  min-height: 786px;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.center__1 img {
  text-align: start;
}

.center__1 p {
  width: 398px;
}
.hire__1 {
  width: 282px;
  height: 158px;
  border: none;
  position: absolute;
  left: 108px;
  top: 258px;
  padding-left: 14px;
  border-radius: 8px;
  background-color: #d1ecf0;
  padding-top: 20px;
}
.hire__1 button {
  width: 137px;
  min-height: 28px;
  border: none;
  border-radius: 40.72px;
  background: #189fb5;
  color: white;
  text-align: center;
}
.hire__1 p {
  width: 234px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
}

.hire__2 {
  width: 282px;
  height: 158px;
  border: none;
  position: absolute;
  top: 86px;
  left: 1062px;
  padding-left: 14px;
  border-radius: 8px;
  background-color: #d8e5da;
  padding-top: 14px;
}
.hire__2 button {
  width: 101px;
  height: 28px;
  border-radius: 40.72px;
  background: #3d7c46;
  border: none;
  text-align: center;
  color: white;
}
.hire__2 p {
  width: 234px;
  height: 66px;
  font-size: 16px;
  font-weight: 400;
}

.hire__3 {
  width: 282px;
  height: 158px;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 569px;
  left: 850px;
  padding-left: 14px;
  background-color: #fbe8e1;
  padding-top: 14px;
}
.hire__3 button {
  width: 195px;
  height: 28px;
  background-color: #f6652f;
  color: white;
  border-radius: 8px;
  border: none;
}
.hire__3 p {
  width: 234px;
  height: 66px;
  font-size: 16px;
  font-weight: 400;
}

.wrapper__text_1 {
  width: 548px;
  height: 48px;
  display: flex;
  padding-bottom: 40px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
}
.wrapper__text_1 p {
  padding-left: 20px;
}
.wrapper button {
  width: 221px;
  height: 48px;
  border: none;
  background-color: #00489d;
  color: white;
  border-radius: 8px;
  line-height: 24.3px;
  font-size: 16px;
  font-weight: 500;
}
.wrapper_p p {
  width: 571px;
  height: 84px;
  color: red;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  color: black;
}
.wrapper_p span {
  font-style: 32px;
  font-weight: 600;
  line-height: 41.6px;
  color: rgb(229, 104, 21);
}
.wrapper_1 {
  max-width: 622px;
  height: 513px;
  margin: 0 auto;
  display: block;
  justify-content: space-between;
  align-items: center;
}
.wrapper_2 {
  max-width: 611px;
  height: 318px;
  margin: 0 auto;
  display: block;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  max-width: 1300px;
  height: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.wrapp {
  max-width: 1320px;
  height: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.absolute__section {
  min-height: 240px;
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  padding-bottom: 50px;
}

#image5 {
  right: 0;
  bottom: 0;
}
#image4 {
  right: 137px;
  bottom: -15px;
}
#image3 {
  right: 12px;
  bottom: 126px;
}
#image2 {
  right: 240px;
  bottom: 20px;
  z-index: 5;
}
#image1 {
  right: 240px;
  bottom: 155px;
}
#image7 {
  right: -45px;
  bottom: 75px;
}
#image10 {
  right: 0;
  bottom: 0;
}
#image8 {
  right: 152px;
  bottom: 117px;
}
#image6 {
  right: -29px;
  bottom: 124px;
}
#image9 {
  right: 173px;
  bottom: 0;
}
.section__images {
  flex-direction: column;
  position: relative;
}

.section__images img {
  position: absolute;
}
.absolute__text {
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.absolute__text h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  width: 400px;
  height: 44px;
}
.absolute__text h5 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  width: 399px;
  height: 42px;
}
.absolute__text button {
  width: 207px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f6652f;
  color: white;
}

.Statistics {
  width: 280.8px;
  height: 85.03px;
  background-color: #ffffff;
  border: none;
}
.wrapp h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.wrapp h5 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 399px;
  height: 42px;
}
.Statistics imag-1 {
  position: absolute;
  top: 22px;
  left: 13px;
}
.wrapp button {
  width: 207px;
  height: 40px;
  background-color: #f6652f;
  border: none;
  border-radius: 8px;
  color: white;
}
.box {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1320px;
  min-height: 200px;
  margin: 0 auto;
}
.box__1,
.box__2,
.box__3 {
  width: 400px;
  height: 226px;
}
.box__1 h4,
.box__2 h4,
.box__3 h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.box__1 p,
.box__2 p,
.box__3 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.find {
  width: 1440px;
  height: 413px;
  margin: 0 auto;
  background: #d8e5da;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 50px;
  position: relative;
}
.find h1 {
  display: block;
  align-items: center;
}
.find button {
  width: 226px;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #3d7c46;
}
.find__images img {
  position: absolute;
}
#gazet1 {
  right: 0;
  bottom: 0;
}
#gazet2 {
  right: 220px;
  bottom: 0;
}
#gazet3 {
  right: 56px;
  bottom: 0px;
}
.footer {
  width: 100%;
  height: 260px;
  background: #323232;
}
.footer_box {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer_imag {
  width: 159px;
}
.footer_list {
  display: flex;
  justify-content: space-between;
}

.footer_1 {
  max-width: 1300px;
  height: 260px;
  margin: 0 auto;
}
.footer_1 p {
  color: #7e7e7e;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.footer_2 {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.footer_2 p{
  font-size: 16px;
  font-weight: 400;
}

#strelka {
  right: 83px;
  bottom: 144px;
  position: fixed;
}
.nav_1,
.nav__2 {
  color: white;
  text-decoration: none;
}
