body {
  background-color: #f2f4f7;
}
.container {
  width: 1440px;
  height: 80px;
  border: 0px, 0px, 1px, 0px;
  color: #f2f4f7;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.images {
  padding-left: 50px;
}
.nav__box {
  padding-right: 50px;
  text-decoration: none;
  color: #615c69;
  font-family: "Inter", sans-serif;
}
.nav__box-2 {
  padding-right: 170px;
  text-decoration: none;
  color: #615c69;
  font-family: "Inter", sans-serif;
}

.btn {
  width: 124px;
  height: 40px;
  color: #00489d;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #00489d;
  gap: 8px;
  padding: 0;
  margin-right: 20px;
}
.btn1 {
  width: 189px;
  height: 40px;
  color: #ffffff;
  background-color: #00489d;
  border: none;
  gap: 8px;
  padding: 0;
  border-radius: 8px;
  margin-right: 120px;
}
.text,
.text1 {
  padding-top: 50px;
}
.text h1 {
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.text1 p {
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.input {
  align-items: center;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.def p {
  color: #ffffff;
}
.ipt {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  color: #dddddd;
  border: 1px solid #ffffff;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.ipt::placeholder {
  color: #dddddd;
}
.def {
  width: 158px;
  height: 56px;
  border-radius: 8px;
  border: none;
  padding: 0;
  background-color: #00489d;
  margin-left: 15px;
}
.photo {
  padding-top: 150px;
}
.teams {
  background: #eaeff9;
  width: 100%;
  height: 423px;
  border-radius: 20px;
  position: relative;
  bottom: -600px;
  z-index: 0;
}
.team p {
  color: black;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.team {
  padding-top: 100px;
  padding-left: 100px;
}
.deg {
  width: 205px;
  height: 56px;
  background-color: #00489d;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
}
.deg p {
  color: #ffffff;
}
.phot {
  position: absolute;
  left: 350px;
  bottom: -850px;
  z-index: 1;
}
